<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.true123.bcj123.mapper.UserMapper">

	<resultMap type="User" id="userMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="password" property="password" />
		<result column="sex" property="sex" />
		<result column="telephone" property="telephone" />
		<result column="email" property="email" />
	</resultMap>
	<select id="selectUserById" resultType="User" parameterType="int">
		select * from User as u
		where u.id=#{id}
	</select>
	<select id="selectUserByName" resultType="User" parameterType="string">
		select * from User where name=#{name}
	</select>
	<select id="findAllUser" resultMap="userMap">
		select * from User
	</select>
	<insert id="insert"  parameterType="User">
	insert into User (name,password,email,sex, telephone)
  values (#{name},#{password},#{email},#{sex},#{telephone})
	</insert>
</mapper>